// Insert your styling here.

.breadcrumb {
    background-color: #fff !important; //#f5f5f5;
    border-radius: 0px;
}


ul.links {
	.nav;
	.nav-pills;

	margin: 20px 0px;
	li a {
		background-color: @brand-primary;
		color: #fff;
	}
}


.region-sidebar-first {
	margin-top: 40px;
}	
