// Insert your styling here.

h1, h2, h3, h4, h5, h6 {
	font-family: @font-family-titles;
}

.breadcrumb {
    background-color: #fff !important; //#f5f5f5;
    border-radius: 0px;
}


p {
	margin: 22px 0;
}

ul.links {
	.nav;
	.nav-pills;

	margin: 20px 0px;

	li a {
		background-color: @brand-primary;
		color: #fff;
	}

	li a:hover {
		color: #000;
	}
}


.region-sidebar-first {
	margin-top: 40px;
}	

.field-name-field-category {
	margin-top: 12px;
}

/**
* Formulario de contacto
*/
.webform-client-form .form-item {
	margin: 15px 0;
}